
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

.animate-on-scroll {
  transform: translateY(20px);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.animate-on-scroll.animate-fade-up {
  transform: translateY(0);
}
